sentence-transformers
flask
pypdf
python-dotenv

langchain
langchain-community
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-classic